body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;;
}

.one-mast{
    background-color: aqua;
}

.two-mast{
    background-color: bisque;
}

.three-mast{
    background-color: blueviolet;
}

.four-mast{
    background-color: brown;
}

.five-mast{
    background-color: coral;
}

#retryButton, #returnButton {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 4px;
}

#retryButton:hover, #returnButton:hover {
    background-color: #9b9ea1;
}